.navigation{
    &-checkbox{
     display: none;
    }
    &-button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
    }

    &-background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light,$color-primary-dark );
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        transition:all .8s cubic-bezier(0.83, 0, 0.17, 1);

    }
    &__nav{
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transition:all .8s cubic-bezier(0.83, 0, 0.17, 1) ;
    }
    &__list{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     list-style: none;
     text-align: center;
     width: 100%;
    }
    &__items{
        margin-bottom: 2rem;
    }
    &-link{
        display: inline-block ;
         font-size: 3rem;
         font-weight: 300;
         padding: 1rem 2rem;
         color: $color-white;
         text-transform: uppercase;
         text-decoration: none;
         background-image: linear-gradient(120deg,transparent 0%,transparent 50%,$color-white 50%);
         background-size: 280%;
         transition: all .4s;
          span{
            display: inline-block;
            margin-right: 1rem;
          }
       
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }


        &-checkbox:checked ~ &-background {
            transform: scale(80);
        }
    
        &-checkbox:checked ~ &__nav {
            opacity: 1;
            width: 100%;
        }


        &__icon {
            margin-top: 3.5rem;
            position: relative;
    
            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                background-color: $color-grey-dark-2;
                display: inline-block;
                transition: all .2s;
            }
    
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
            }
            &::before { top: -.8rem; }
            &::after { top: .8rem; }
           
        }
        &-button:hover &__icon::before{
            top:-1rem
        }
        &-button:hover &__icon::after{
            top:1rem
        }
        &-checkbox:checked + &-button &__icon{
            background-color: transparent;
        }
        &-checkbox:checked + &-button &__icon::before{
         transform: rotate(135deg);
         top: 0;
        }
        &-checkbox:checked + &-button &__icon::after{
            transform: rotate(-135deg);
            top: 0;
        }
}