.feature-box{
    background-color: rgba($color-white,.7);
    // margin: 10rem 0;
    padding: 3rem 0;
    font-size: 1.5;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
    transition: transform .2s;

    cursor: pointer;
    &__icon{
        width: 6rem;
        padding: .5rem 0;
        background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
        -webkit-background-clip:text;
        background-clip: text;
        color: transparent;
        
    }
    &:hover ,&:focus{
        transform: translateY(-1.5rem) scale(1.03);
    }
}