.story{
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black,.1);
    background-color: rgba($color-white,.6);
    border-radius: 3px solid;
    padding: 6rem 10rem;
    font-size: 1.6rem;
    width: 50%;
    transform: skewX(-12deg);
    @include respond(tab-land) { // width < 1200?
        padding: 6rem 10rem;
    }

    @include respond(tab-port) { // width < 900?
        padding: 6rem 8rem;
    }

    @include respond(phone) { // width < 600?
        padding: 3rem 10rem;

    }
    
    @include respond(big-desktop) {
        padding: 6rem 10rem;
    }
   
    &__text{

        transform: skewX(12deg);

    }
    &__shape{
        width: 15rem;
        height: 15rem;
        float: left;
        transform: translateX(-3rem) skewX(12deg);
        -webkit-shape-outside:circle(50% at 50% 50%);
        clip-path:circle(50% at 50% 50%); ;
        shape-outside:circle(50% at 50% 50%);
        position: relative;
        @include respond(tab-land) { // width < 1200?
            width: 15rem;
            height: 15rem;
        }
    
        @include respond(tab-port) { // width < 900?
            width: 18rem;
            height: 18rem;
        }
    
        @include respond(phone) { // width < 600?
            width: 12rem;
            height: 12rem;
        }
        
        @include respond(big-desktop) {
            width: 15rem;
            height: 15rem;
        }
    }
    &__img{
        height: 100%;
        transform:translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }
    &__name{
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        // transform: translate(-50%,10%);
        opacity: 0;
        text-transform: uppercase;
        font-size: 1.7rem;
        color: $color-white;

        backface-visibility: hidden;
    }
    &:hover &__name{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    &:hover &__img{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

   &__text{
    @include respond(tab-land) { // width < 1200?
     
    }

    @include respond(tab-port) { // width < 900?
        width: 100%;
        padding: 0 3rem;
    }

    @include respond(phone) { // width < 600?
     width: 100%;
     padding: 0 2rem 0 6rem;
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
   }




}
